/*body{
	background-color: #dcdcdc
}	
*/.tab-pane{
	padding: 10px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{
	border-color: #5b4681;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
	color:#fff;
	font-size: larger;
}
.navbar-nav li:hover{
	background-color: #8B6DC2;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
	background-color: #CFBDF0;
	color:#000000;
}
@media (min-width: 768px){
.navbar{
	border-radius:0px;
	margin-bottom: 0px;
}
}
.navbar{
	margin-bottom: 0px;
}
.heading{
		font-family: "Lucida Console", Monaco, monospace;
		font-size: 3em;
		border-bottom: 2px solid pink;
		border-right: 2px solid pink;
		width: 60%;
		text-align: center;
		-moz-box-shadow:4px 4px 5px #888888;
		-ms-box-shadow: 4px 4px 5px #888888;
		-webkit-box-shadow: 4px 4px 5px #888888;
		-o-box-shadow: 4px 4px 5px #888888;
		box-shadow: 4px 4px 5px #888888;
		margin-top: 10px;
}
.content{
	line-height: 2;
	padding: 0 7%;
}
.subtitle{
	font-size: 24px;
    text-decoration: underline;
    text-decoration-color: unset;
    text-decoration-style: double;
    text-transform: uppercase;
}
#myCarousel, #myCarousel1{
	padding: 0 3%;
    margin: 0 3%; 

}
.w3ls_about_grid_left p{
	line-height:1.8em;
	margin-bottom:2em;
	font-size: 1.8rem
}
.w3ls_about_grid_left2 p{
	line-height:1.8em;
	margin-top: 0px;
	padding-top: 0px
}
.w3ls_about_grid_left1 {
    text-align: center;
}
.w3ls_about_grid_left1 span{
	font-size:1.5em;
	top: 1em;
}

.boxed-view{
    align-items: center;
    background: #dddddd;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 95vw;
    margin:0;
    padding: 0;
}

.boxed-view__box{
    background-color: white;
    padding: 2.4rem;
    text-align: center;
    width: 34rem;
}
.boxed-view__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    margin-bottom: 2.4rem;
}
input[type=text],input[type=email], input[type=password],input[type=tel],input[type=number], textarea{
    font-size: 1.6rem;
    margin-bottom: 1.4rem;
    padding: 0.8rem;
    border: 1px solid #dddddd;
    height: 100%;
    width: 100%
}
.button{
    background-color: #3c43a4; 
    color: white;
    cursor: pointer;
    padding: 1rem;
    text-transform: uppercase;
}




.newsletter{
	background:#FAEBD7;
	padding:3em 0;
}
.w3agile_newsletter_left h3{
	font-size:2em;
	color:#000;
}
.w3agile_newsletter_left p {
    color: #bfbfbf;
    line-height: 1.8em;
    margin-top: .5em;
    font-weight: 100;
}
.w3agile_newsletter_right {
    margin-top: 0.8em;
}
.w3agile_newsletter_right input[type="submit"]:hover{
    background-color:#212121;
}
img{
	pointer-events: none;
}
.cardContainer{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr) );
    grid-gap: 30px;
}
@media (max-width: 767px){
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
}
/* Side Navigation */

/*@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 55px;
        left: 225px;
        width: 14%;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        border-top: 1px rgba(0,0,0,.5) solid;
        overflow-y: auto;
        background-color: #5b4681;
        background-color: #5A6B7D;
        bottom: 0;
        overflow-x: scroll;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
        border-bottom: 1px rgba(0,0,0,.3) solid;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #1a242f !important;
    }
    
}*/

/*.side-nav>li>ul {
    padding: 0;
    border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
    color: #fff;    
}

.side-nav>li>ul>li>a:hover {
    color: #fff;
}*/

/*.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}
.main {
  margin-left: 15%; /* Same as the width of the sidenav */
  /*margin-top: 2em;
  padding-top: 6em;
  padding-left: 0.2%;
}*/
/*!--side navigation--*/
.navbar-brand {
    padding: 5px 15px;
}
#login-buttons a{
  color: white;
}
/*#login-buttons{
	margin: 10px;
}*/
#login-buttons a:hover{
    color: #222
}
#login-dropdown-list{
    background-color: #C0C0C0;
}
